{% extends "layout.html" %}

{% block scripts %} 
<script>

</script>
{% endblock %} 

{% block content %}
    <div class="row">

        <div class="col-md-2 side-column"></div>

        <div class="col-md-10">
            <!-- About Introduction -->
            <div class="row">
                <div class="col-md-12 horizontal-center">
                    <h1 class="about-header"> {{ _('The Team') }}</h1>
                </div>
            </div>

            <!-- About Content -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 horizontal-center">
                    <div class="about-description"> {{ _('We are both undergraduate students studying Computer Science at Columbia University. Aquínti is our final project for a Columbia course titled Multilingual Technologies and Language Diversity, which explores the impact of digital technologies on the ecosystem of language diversity. <br> <br>  In recent years tools have been built to revitalize the Shipibo-Conibo language; however these tools are only accessible to researchers and technologists. Therefore, for our final project we chose to create an e-Learning web app because we wanted to have an impact on the Shipibo-Conibo Community directly.  We hope that Aquínti is a great aid to those who wish to recuperate an essential aspect of their ancestors’ history.') }} </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Individual Profiles -->

            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">
                    <div class="profile-container">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="card text-center card-style">
                                    <h4>
                                        Hussein Fardous
                                    </h4>
                                    <img class="card-img-top" src="{{url_for('static', filename='hussein_img.png')}}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Email: hf2334@columbia.edu</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card text-center card-style">
                                    <h4>
                                        Janill Lema 
                                    </h4>
                                    <img class="card-img-top" src="{{url_for('static', filename='janill_img.png')}}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">Email: jl4817@columbia.edu</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>

        </div>
        
    </div>
{% endblock %}