{% extends "aquinti_layout.html" %}

{% block scripts %} 
<script>
    
    var language_setting = {{ language_setting | tojson }};

</script>
{% endblock %} 

{% block content %}
    <div class="container-fluid">
        
        <!-- Welcome Introduction -->
        <div class="row welcome-container">
            <div class="centered">
                <div class="row">
                    <div class="col-md-12 horizontal-center">
                        <h1 lang="en" class="welcome-text"> WELCOME TO AQUÍNTI! </h1>
                        <h1 lang="es" class="welcome-text"> ¡BIENVENIDOS A AQUÍNTI! </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 horizontal-center">
                        <h3 lang="en" class="welcome-subtext"> An e-learning web app for the Shipibo-Conibo language </h3>
                        <h3 lang="es" class="welcome-subtext"> Un aplicación web de aprendizaje electrónico del idioma Shipibo-Conibo</h3>
                    </div>
                </div>
            </div>    
        </div>
        
        <!-- About the Shipibo Conibo People -->
         <div class="row about-shipibo-container horizontal-center">
            <div class="col-md-6">
                <img src="{{url_for('static', filename='shipibo-conibo-family.jpg')}}"  class="center family-img"/>
            </div>
            <div class="col-md-6">
                <div>
                    <h3 lang="en" class="section-title hr"> About the Shipibo-Conibo People </h3>
                    <h3 lang="es" class="section-title hr"> Sobre La Gente Shipibo-Conibo</h3>
                    <div class="information-text" lang="en"> The Shipibo-Conibo people mainly live along the Ucayali River in the Amazon rainforest in Peru. They are known for their traditions such as ayahuasca shamanism and their artisanal skills, which include textile making, embroidery and pottery. There are currently 22,000 native speakers of the Shipibo-Conibo language. The current AES (measures how endangered a language is according to an agglomeration of databases) for the language is "Threatened". </div>
                    <div class="information-text"  lang="es"> El pueblo Shipibo-Conibo vive principalmente al lado del río Ucayali en la selva amazónica de Perú. Son conocidos por sus tradiciones como el chamanismo de ayahuasca y sus habilidades artesanales, que incluyen la fabricación de textiles, bordados y cerámica. Hoy en día hay 22,000 hablantes nativos del idioma Shipibo-Conibo. El AES (mide qué tan en peligro está un idioma según una aglomeración de bases de datos) para el idioma es "Amenazado".</div>
                </div>
            </div>
        </div>

        <!-- Aquinti's Mission -->
        <div class="row mission-container">
            <div class="row horizontal-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 lang="en" class="section-title hr" > Aquínti's Mission </h1>
                    <h1 lang="es" class="section-title hr" > La Misión de Aquínti</h1>
                    <div class="information-text" lang="en"> Once children stop using their native language, their language becomes at <b> risk of extinction </b>. Peru’s official language is Spanish, therefore children are encouraged to learn how to read and write in it. As a result, they  become <b>disconnected from their mother tongue </b>, which holds <b>invaluable knowledge of the world</b>. Aquínti ​hopes to combat the loss of the Shipibo-Conibo language through its role as a learning aid for Spanish speakers; more specifically, children attending school and adults whose ancestors spoke Shipibo-Conibo natively but they themselves have limited knowledge of the language. </div>
                    <div class="information-text"  lang="es"> Cuando los niños dejan de usar su idioma nativo, su idioma corre el  <b> riesgo de extinción </b>. El idioma oficial de Perú es el español, por lo tanto,  los niños aprenderen a leer y escribir en él. Como resultado, <b>se desconectan de su lengua materna</b>, que posee un <b>conocimiento invaluable del mundo</b>. Aquínti espera combatir la pérdida del idioma Shipibo-Conibo a través de su papel como ayuda para el aprendizaje de hispanohablantes en Perú; más específicamente, los niños que asisten a la escuela y los adultos cuyos antepasados ​​hablaban Shipibo-Conibo, pero ellos mismos tienen un conocimiento limitado del idioma.</div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <!-- Technology Behind Aquinti -->
        <div class="row technology-container">
            <div class="col-md-3"></div>
            <div class="col-md-6 horizontal-center">
                <h1 lang="en" class="section-title hr"> The Technology Behind Aquínti </h1>
                <h1 lang="es" class="section-title hr"> La Tecnología Detrás De Aquínti</h1>
                <div class="information-text" lang="en"> </div>
                <div class="information-text"  lang="es"> </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
{% endblock %}
